@use "./variables" as *;

hr {
  background-color: $color-secondary;
  border: $color-secondary;
}

.nav__hamburger {
  color: $color-primary;
}

@media screen and (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }
}

.portfolio__project-card {
  display: flex;
  flex-direction: column;
  .portfolio__image-container {
    width: auto;
    height: $image-height;
    margin-bottom: $spacing-small/2;
    background-color: $color-contrast-background;
  }
  .portfolio__project-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $font-primary;
    font-weight: $font-weight-primary-regular;
    font-size: $font-size-medium;

    .portfolio__project-links {
      display: flex;
      align-items: center;
      .portfolio__project-link-container {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 3rem;
        height: 3rem;
        background-color: $color-contrast-background;
        border-radius: 50%;
        margin-left: $spacing-project-links;
      }
    }
  }
  .portfolio__hr {
    width: $hr-width-small;
    height: $hr-height-small;
    margin-bottom: $spacing-small;
  }
  .portfolio__project-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    .portfolio__project-tag {
      background-color: $color-contrast-background;
      min-width: 4rem;
      padding: 0.3rem;
      text-align: center;
      margin: $spacing-small/5;
      font-family: $font-secondary;
      font-weight: $font-weight-secondary-semi-bold;
      font-size: $font-size-tags;
    }
  }
}
