@use "./variables" as *;

hr {
  background-color: $color-secondary;
  border: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  transition: 0.2s;
  &:visited,
  &:hover,
  &:active {
    color: inherit;
  }
  &:hover {
    transform: scale(1.1);
  }
}

.nav__hamburger {
  color: $color-primary;
}

@media screen and (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }
}

.portfolio__project-card {
  display: flex;
  flex-direction: column;
  .portfolio__image-container {
    margin-bottom: $spacing-small/2;
    max-width: $image-max-width;
  }
  .portfolio__project-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .portfolio__project-name {
      font-family: $font-primary;
      font-weight: $font-weight-regular;
      font-size: $font-size-medium;
    }

    .portfolio__project-links {
      display: flex;
      align-items: center;
      .portfolio__project-link-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        background-color: $background-color-secondary;
        border-radius: 50%;
        margin-left: $spacing-links;
      }
    }
  }
  .portfolio__hr {
    width: $hr-width-small;
    height: $hr-height-small;
    margin-bottom: $spacing-small;
  }
  .portfolio__project-tags {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: $spacing-medium;

    .portfolio__project-tag {
      background-color: $background-color-secondary;
      width: $tag-width;
      padding: $tag-padding;
      text-align: center;
      margin-right: $spacing-tags;
      margin-bottom: $spacing-tags;
      font-family: $font-secondary;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-tags;
    }
  }
}

.cv-card {
  .cv-card__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: $spacing-small;

    .cv-card__heading {
      font-family: $font-primary;
      font-weight: $font-weight-regular;
      font-size: $font-size-small;
    }
    .cv-card__button {
      border: none;
      background-color: $background-color-primary;
      color: $color-primary;
      font-family: $font-primary;
      font-weight: $font-weight-regular;
      font-size: $font-size-medium;
    }
  }
  .cv-card__hr {
    height: $hr-height-small;
    width: 100%;
    margin-bottom: $spacing-small;
    background-color: $background-color-cv-card-hr;
  }
}

.contact__button {
  background-color: $background-color-primary;
  border: 0.063rem solid $color-secondary;
  color: $color-primary;
  width: 90%;
  font-family: $font-secondary;
  font-weight: $font-weight-medium;
  font-size: $font-size-small;
  height: 3.75rem;
}

.footer__link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  background-color: $background-color-footer-links;
  border-radius: 50%;
  margin-left: $spacing-links;
  color: $color-secondary;
  font-family: $font-secondary;
  font-weight: $font-weight-bold;
}
