@use "./variables" as *;

hr {
  background-color: $color-secondary;
  border: $color-secondary;
}

.nav__hamburger {
  color: $color-primary;
}

@media screen and (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }
}

.portfolio__project-card {
  .portfolio__image-container {
    width: auto;
    height: $image-height;
  }
}
