@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-container {
  background-color: $background-color;
  color: $color-primary;

  .nav {
    display: flex;
    justify-content: space-between;
    padding: $spacing-small $spacing-medium;
    background-color: $background-color;
    position: fixed;
    top: 0;
    width: 100%;

    .nav__name {
      font-family: $font-primary;
      font-weight: $font-weight-primary-bold;
      font-size: $font-size-smallest;
      .nav__last-name {
        color: $color-secondary;
      }
    }

    .nav__links {
      display: none;
    }
    @media screen and (min-width: 768px) {
      .nav__links {
        display: inline-block;
      }
    }
  }

  .main {
    margin: $spacing-small $spacing-medium;
    padding-top: $spacing-large;

    .intro {
      margin-bottom: $spacing-large;
      .intro__heading {
        font-family: $font-primary;
        font-weight: $font-weight-primary-regular;
        font-size: $font-size-large;
        margin-bottom: $spacing-medium;
      }

      .intro__hr {
        width: $hr-width-large;
        height: $hr-height-large;
        margin-bottom: $spacing-medium;
      }

      .intro__paragraph {
        font-family: $font-secondary;
        font-weight: $font-weight-primary-regular;
        font-size: $font-size-small;
      }
    }

    .portfolio {
      .portfolio__header {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-medium;

        .portfolio__heading {
          font-family: $font-primary;
          font-weight: $font-weight-primary-bold;
          font-size: 2 * $font-size-small;
        }

        .portfolio__arrow {
          margin-left: $spacing-small;
        }
      }

      .portfolio__projects {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
