@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-container {
  background-color: $background-color-primary;
  color: $color-primary;

  .nav {
    display: flex;
    justify-content: space-between;
    padding: $spacing-small $spacing-medium;
    background-color: $background-color-primary;
    position: fixed;
    top: 0;
    width: 100%;

    .nav__name {
      font-family: $font-primary;
      font-weight: $font-weight-bold;
      font-size: $font-size-mobile-nav;
      .nav__last-name {
        color: $color-secondary;
      }
    }

    .nav__links {
      display: none;
    }
    @media screen and (min-width: 768px) {
      .nav__links {
        display: inline-block;
      }
    }
  }

  .main {
    margin: $spacing-small $spacing-medium;
    padding-top: $spacing-large + $spacing-medium;

    .intro {
      margin-bottom: $spacing-large;

      .intro__heading {
        font-family: $font-primary;
        font-weight: $font-weight-regular;
        font-size: $font-size-large;
        margin-bottom: $spacing-medium;
      }

      .intro__hr {
        width: $hr-width-large;
        height: $hr-height-large;
        margin-bottom: $spacing-medium;
      }

      .intro__paragraph {
        font-family: $font-secondary;
        font-weight: $font-weight-regular;
        font-size: $font-size-small;
        line-height: $line-height;
      }
    }

    .portfolio {
      padding-top: $anchor-padding;
      margin-top: $anchor-compensation-margin;
      margin-bottom: $spacing-large;
      .portfolio__header {
        display: flex;
        align-items: center;
        margin-bottom: $spacing-medium;

        .portfolio__heading {
          font-family: $font-primary;
          font-weight: $font-weight-bold;
          font-size: 2 * $font-size-small;
        }

        .portfolio__arrow {
          margin-left: $spacing-small;
        }
      }

      .portfolio__projects {
        display: flex;
        flex-direction: column;
      }
    }

    .about {
      padding-top: $anchor-padding;
      margin-top: $anchor-compensation-margin;
      display: flex;
      flex-direction: column;
      .about__header {
        .about__heading {
          font-family: $font-primary;
          font-weight: $font-weight-bold;
          font-size: 2 * $font-size-small;
          margin-bottom: $spacing-small/2;
        }
        .about__hr {
          width: $hr-width-large/1.5;
          height: $hr-height-small * 2;
          margin-bottom: $spacing-medium;
        }
        .about__image-container {
          margin-bottom: $spacing-small/2;
          max-width: $image-max-width;
          margin-bottom: $spacing-medium;
        }
      }
      .about__information {
        .about__paragraph {
          font-family: $font-secondary;
          font-weight: $font-weight-regular;
          font-size: $font-size-small;
          line-height: $line-height;
          margin-bottom: $spacing-small;
        }
        margin-bottom: $spacing-large;
      }
    }

    .cv-info {
      display: flex;
      flex-direction: column;
      margin-bottom: $spacing-medium;
      .cv-info__section {
        margin-bottom: $spacing-medium;
        .cv-info__header {
          .cv-info__heading {
            font-family: $font-primary;
            font-weight: $font-weight-bold;
            font-size: $font-size-cv-info-header;
            margin-bottom: $spacing-small/2;
          }
          .cv-info__hr {
            width: $hr-width-large/1.5;
            height: $hr-height-small * 2;
            margin-bottom: $spacing-small;
          }
        }
      }
    }

    .contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: $spacing-large;
      .contact__heading {
        font-family: $font-primary;
        font-weight: $font-weight-regular;
        font-size: $font-size-large;
        margin-bottom: $spacing-large;
        align-items: center;
        text-align: center;
      }
    }
  }

  .footer {
    background-color: $background-color-footer;
    height: 6.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: $spacing-small $spacing-medium;
    .footer__links {
      width: 80%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
