@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter:wght@400;500;600&display=swap");

$background-color: #2c2a2a;
$color-primary: #ffffff;
$color-secondary: #d9bea5;

$spacing-small: 1.25rem;
$spacing-medium: 1.875rem;
$spacing-large: 3.125rem;

$font-primary: "Cormorant", serif;
$font-secondary: "Inter", sans-serif;

$font-weight-primary-regular: 400;
$font-weight-primary-bold: 700;

$font-weight-secondary-regular: 400;
$font-weight-secondary-medium: 500;
$font-weight-secondary-semi-bold: 600;

$font-size-smallest: 0.75rem;
$font-size-small: 1rem;
$font-size-medium: 1.5rem;
$font-size-large: 4rem;

$hr-width-large: 5rem;
$hr-height-large: 0.25rem;

// $image-width: 14rem;
$image-height: 12rem;
