@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter:wght@400;500;600&display=swap");

$background-color-primary: #2c2a2a;
$background-color-secondary: #3c3636;
$background-color-footer: #3b3636;
$background-color-cv-card-hr: #5c5c5c;
$background-color-footer-links: #453f3f;

$color-primary: #ffffff;
$color-secondary: #d9bea5;

$font-primary: "Cormorant", serif;
$font-secondary: "Inter", sans-serif;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

$anchor-padding-mobile: 60px;
$anchor-compensation-margin-mobile: -60px;
$anchor-padding-tablet: 100px;
$anchor-compensation-margin-tablet: -100px;

$max-width-content: 90rem;
