@import url("https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&family=Inter:wght@400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.outer-container {
  background-color: #2c2a2a;
  color: #ffffff;
}
.outer-container .nav {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem 1.875rem;
  background-color: #2c2a2a;
  position: fixed;
  top: 0;
  width: 100%;
}
.outer-container .nav .nav__name {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 0.75rem;
}
.outer-container .nav .nav__name .nav__last-name {
  color: #d9bea5;
}
.outer-container .nav .nav__links {
  display: none;
}
@media screen and (min-width: 768px) {
  .outer-container .nav .nav__links {
    display: inline-block;
  }
}
.outer-container .main {
  margin: 1.25rem 1.875rem;
  padding-top: 3.125rem;
}
.outer-container .main .intro {
  margin-bottom: 3.125rem;
}
.outer-container .main .intro .intro__heading {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 1.875rem;
}
.outer-container .main .intro .intro__hr {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.875rem;
}
.outer-container .main .intro .intro__paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
}
.outer-container .main .portfolio {
  margin-bottom: 3.125rem;
}
.outer-container .main .portfolio .portfolio__header {
  display: flex;
  align-items: center;
  margin-bottom: 1.875rem;
}
.outer-container .main .portfolio .portfolio__header .portfolio__heading {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 2rem;
}
.outer-container .main .portfolio .portfolio__header .portfolio__arrow {
  margin-left: 1.25rem;
}
.outer-container .main .portfolio .portfolio__projects {
  display: flex;
  flex-direction: column;
}
.outer-container .main .about {
  display: flex;
  flex-direction: column;
}
.outer-container .main .about .about__header .about__heading {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 0.625rem;
}
.outer-container .main .about .about__header .about__hr {
  width: 3.3333333333rem;
  height: 0.126rem;
  margin-bottom: 1.875rem;
}
.outer-container .main .about .about__header .about__image-container {
  margin-bottom: 0.625rem;
  max-width: 21rem;
  margin-bottom: 1.875rem;
}
.outer-container .main .about .about__information {
  margin-bottom: 3.125rem;
}
.outer-container .main .about .about__information .about__paragraph {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.6rem;
  margin-bottom: 1.25rem;
}
.outer-container .main .cv-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.875rem;
}
.outer-container .main .cv-info .cv-info__section {
  margin-bottom: 1.875rem;
}
.outer-container .main .cv-info .cv-info__section .cv-info__header .cv-info__heading {
  font-family: "Cormorant", serif;
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.625rem;
}
.outer-container .main .cv-info .cv-info__section .cv-info__header .cv-info__hr {
  width: 3.3333333333rem;
  height: 0.126rem;
  margin-bottom: 1.25rem;
}
.outer-container .main .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.outer-container .main .contact .contact__heading {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 1.875rem;
  align-items: center;
  text-align: center;
}

hr {
  background-color: #d9bea5;
  border: none;
}

a {
  cursor: pointer;
}

.nav__hamburger {
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .nav__hamburger {
    display: none;
  }
}
.portfolio__project-card {
  display: flex;
  flex-direction: column;
}
.portfolio__project-card .portfolio__image-container {
  margin-bottom: 0.625rem;
  max-width: 21rem;
}
.portfolio__project-card .portfolio__project-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.portfolio__project-card .portfolio__project-details .portfolio__project-name {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.portfolio__project-card .portfolio__project-details .portfolio__project-links {
  display: flex;
  align-items: center;
}
.portfolio__project-card .portfolio__project-details .portfolio__project-links .portfolio__project-link-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 3rem;
  height: 3rem;
  background-color: #3c3636;
  border-radius: 50%;
  margin-left: 0.5rem;
}
.portfolio__project-card .portfolio__hr {
  width: 3.75rem;
  height: 0.063rem;
  margin-bottom: 1.25rem;
}
.portfolio__project-card .portfolio__project-tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1.875rem;
}
.portfolio__project-card .portfolio__project-tags .portfolio__project-tag {
  background-color: #3c3636;
  width: 4.5rem;
  padding: 0.3rem;
  text-align: center;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 0.625rem;
}

.cv-card .cv-card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.25rem;
}
.cv-card .cv-card__header .cv-card__heading {
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 1rem;
}
.cv-card .cv-card__header .cv-card__button {
  border: none;
  background-color: #2c2a2a;
  color: #ffffff;
  font-family: "Cormorant", serif;
  font-weight: 400;
  font-size: 1.5rem;
}
.cv-card .cv-card__hr {
  height: 0.126rem;
  width: 100%;
  margin-bottom: 1.25rem;
  background-color: #3c3636;
}

.contact__button {
  background-color: #2c2a2a;
  border: 0.063rem solid #d9bea5;
  color: #ffffff;
  width: 90%;
}/*# sourceMappingURL=main.css.map */